.egg {
  display: block;
  width: 90px;
  min-width: 90px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  transition: all .2s ease;
  &.is-active {
    box-shadow: 0 2px 4px 2px rgba(red, .3);
    transform: translate(0,-5px) scale(1.03);
  }
}